@import "../../sassStyles/mixins";

pre {
	width: 105%;
	margin-left: -5%;
	font-size: 16px;
	margin-top: 3rem;
	margin-bottom: 3rem;

	@include for-phone-only {
		font-size: 14px;
		width: 100vw;
		border-radius: 0;

		pre {
			border-radius: 0;
		}
	}

	pre {
		box-sizing: border-box;
		width: 105%;
		font-family: "Courier New", Courier, monospace;
		font-weight: 600;
		margin: 5rem auto;
		position: relative;
		box-sizing: border-box;
		border-radius: 10px;
		box-shadow: rgba(15, 26, 128, 0.055) 0px 10px 20px;
		padding: 32px !important;

		@include for-phone-only {
			width: 100%;
		}
	}

	code {
		// background-color: #f5f6f9;
	}
}
