$bg-color: #ffffff;
$bg-color-secondary: #f0f0f0;
$bg-hover: #f5f5f5;
$text-color: #1f1f1f;
$primary-red: #e52a55;
$primary-purple: #5c2ae5;
$primary-blue: #005ffe;
$primary-green: #b7f188;

$bg-color-dark: #1f1f1f;
$bg-color-secondary-dark: #272727;
$bg-hover-dark: #2e2e2e;
$text-color-dark: #ffffff;
$primary-red-dark: #e52a55;
$primary-purple-dark: #5c2ae5;
$primary-blue-dark: #005ffe;
$primary-green-dark: #73a34c;
